@font-face {
    font-family: 'Fat Kat';
    src: url('../fonts/FatKatRegular.woff2') format('woff2'),
        url('../fonts/FatKatRegular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Switzer';
    src: url('../fonts/Switzer-Black.woff2') format('woff2'),
        url('../fonts/Switzer-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Switzer';
    src: url('../fonts/Switzer-Medium.woff2') format('woff2'),
        url('../fonts/Switzer-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

