* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
body {
    font-family: 'Switzer';
    font-size: 18px; 
    color: #000000;
    line-height: 1;
    font-weight: 400;
    letter-spacing: normal;
    background-color: #fff;
    margin: 0;
    padding: 0;
}
a {
    display: block;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
}
ul, li {
    list-style-type: none;
    text-decoration: none;
}
img {
    max-width: 100%;
    height: auto;
    object-fit: cover;
    display: block;
}
/* ::selection {
    background: #EEC935;
    color: #000; 
} */
.container {
    width: 90%;
    max-width: 1312px;
    margin: 0 auto;
}
.pre-header {
    font-family: 'Switzer';
    color: #0001FF;
    font-size: 30px;
    font-weight: 900;
    line-height: 1.5;
    margin-bottom: 16px;
    text-transform: uppercase;
}
.primary-heading {
    font-size: 80px;
    font-weight: 400;
    line-height: 0.9;
    font-family: 'Fat Kat';
    color: #0001FF;
    text-align: center;
}
.secondry-heading {
    font-family: 'Fat Kat';
    font-size: 64px;
    line-height: 1.2;
    color: #0001FF;
    font-weight: 400;
}
.secondry-heading .heading-black {
    font-family: 'Switzer';
    color: #000;
    font-weight: 900;
    font-size: 80px;
}
.primary-btn, .header-btn {
    font-family: 'Switzer';
    font-weight: 600;
    font-size: 16px;
    line-height: 1.5;
    color: #fff;
    background-color: #0001FF;
    padding: 12px 10px 12px 24px;
    border: 1px solid#0001FF;
    border-radius: 100px;
    text-transform: uppercase;
    display: inline-flex;
    align-items: center;
    gap: 10px;
    transition: all 0.3s ease;
}
.primary-btn:hover {
    transform: scale(1.1);
}
.cta-icon {
    width: 27px;
    height: 27px;
}
.default-text {
    font-family: 'Switzer';
    font-size: 18px;
    color: #000;
    line-height: 1.5;
    display: block;
    font-weight: normal;
}
/* Header Styles here  */
.header-nav {
    position: fixed;
    z-index: 10;
    top: 60px;
    left: 0;
    right: 0;
    width: 100%;
    padding: 16px 0;
    background-color: #fff;
    border-bottom: 1px solid #fffafa;
    transition: all 0.5s ease-in-out;
    
}
.header-nav.top {
    top: 0;
    border-bottom: 1px solid #0001FF;
}

.header-nav.top .logo {
    font-size: 30px;
    color: #000000;
}
.header.top .nav-link-item {
    font-size: 20px;
    color: #000000;
}
.header-nav .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
nav {
    max-width: 570px;
    width: 100%;
}
nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 32px;
}
.nav-link-item {
    font-family: 'Fat Kat';
    text-transform: uppercase;
    font-size: 16px;
    line-height: 1.5;
    color: #0001FF;
}
.nav-link-item.d-mb{
    display: none;
}
.nav-link-item:hover {
    color: #000;
}
.header-btn {
    padding: 8px 10px 8px 20px;
}
.header-btn .cta-icon {
width: 22px;
height: 22px;
}
.toggle-btn {
    display: none;
}

/* Header top bar styles here  */
.top-bar {
    background-color: #0001FF;
    padding: 16px 0;
    overflow: hidden;
}
/* .top-bar  .container {
    display: flex;
} */
.number-items {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    /* animation: 35s slides infinite linear; */
 }
.number-block {
    display: flex !important;
    flex-wrap: wrap;
    align-items: center;
    gap: 10px;
    padding-inline: 20px;
}
.number-block span, .number-block a {
    font-size: 20px;
    color: #fff;
    font-family: 'Switzer';
    line-height: 1.4;
}
.number-block a {
    font-weight: 600;
}
@keyframes slides {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-100%);
    }
  }
.number-block:hover .number-items {
    animation-play-state: paused;
}
/* hero styles starts here  */
.hero-section {
    padding: 182px 0 112px;
}
section {
    padding: 112px 0;
}
.container.small {
    max-width: 768px;
}
.hero-body {
    margin: 24px 0 60px;
}
.hero-body .default-text {
    text-align: center;
}
.btn-group {
    display: flex;
    align-items: center;
    justify-content: center;
}
.arm-row {
    position: relative;
}
.arm-row h2 {
    position: relative;
    z-index: 2;
}
.arm-row .arm {
    position: absolute;
    bottom: 0;
    max-width: 334px;
}
.arm-row .arm.left {
    left: -224px;
}
.arm-row .arm.right {
    right: -224px;
    transform: rotateY(180deg);
}
.power-section .hero-body {
    margin: 24px 0;
}
.moves-section .container.small {
    max-width: 830px;
}
.glases-wrapper {
    display: block;
    margin: -140px auto -220px;
    max-width: 393px;
}
.bottles-section .primary-heading {
    font-size: 150px;
}
#bottles h2 {
    position: relative;
}
#bottles h2:before {
    content: "";
    position: absolute;
    width: 241px;
    height: 274px;
    bottom: -253px;
    left: -160px;
    display: block;
    background: url(../assets/stars.png) no-repeat center/cover;
}
#bottles h2:after {
    content: "";
    position: absolute;
    width: 163px;
    height: 163px;
    top: -120px;
    right: -125px;
    display: block;
    background: url(../assets/stars.png) no-repeat center/cover;
}
.vivid-splash {
    padding: 112px 0;
}
.vivid-splash .pre-header span {
    color: #000;
}
.vivid-flex-row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 80px;
}
/* .vivid-content {
    width: 46%;
}
.vivid-img-wrapper {
    width: 46%;
} */
.header-post {
    font-size: 18px;
    line-height: 1.5;
    font-weight: 700;
    margin: 24px 0;
    display: block;
}
.vivid-splash .default-text {
    max-width: 410px;
}
.list-heading {
    font-size: 30px;
    font-family: 'Switzer';
    font-weight: 900;
    line-height: 1.5;
    margin: 24px 0 10px;
}
.list-heading.center {
    text-align: center;
    margin: 30px 0 0;
}
.list-heading span {
    font-family: 'Fat Kat';
    color: #0001FF;
    font-weight: 400;
}
.want-list {
    margin: 24px 0 30px 24px;
}
.want-list-item {
    list-style-type: disc;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #000;
    margin-bottom: 16px;
    font-weight: normal;
}
.primary-heading.black {
    color: #000;
}
.primary-heading.large {
    font-size: 150px;
}
.choice-section span {
    display: block;
}
.choice-section .primary-heading {
    text-wrap: balance;
}
.choice-section .primary-heading.black {
    margin-bottom: 40px;
}
/* dilivery section styles here  */
.dilivery-row .primary-heading {
    text-align: left;
}
.dilivery-row h3  span {
    font-weight: 300;
    color: #000;
    font-family: 'Switzer';
}
.dilivery-row .primary-btn {
    margin-top: 40px;
}
/* footer styles here  */
footer {
    background: #0001FF;
    padding: 80px 0;
}
.footer-top {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 80px;
    border-bottom: 1px solid#fff;
}
.footer-links {
    max-width: 300px;
    width: 100%;
}
.footer-links a {
    color: #fff;
    font-weight: 500;
    font-size: 16px;
    font-family: 'Switzer';
}
.footer-links a:hover {
    color: #BE3135;
}
.common-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    align-items: start;
}

.footer-bottom {
    margin-top: 33px;
}
.footer-btm-links {
    margin: 0 auto;
    max-width: 554px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.bottom-info {
    color: #fff;
    font-size: 14px;
    font-weight: normal;
    text-decoration: underline;
}
span.bottom-info {
    text-decoration: none;
}
@media screen and (max-width:1280px) {
    .primary-heading {
        font-size: 70px;
    }
    .secondry-heading {
        font-size: 52px;
    }
    .secondry-heading .heading-black {
        font-size: 70px;
    }
    .bottles-section .primary-heading {
        font-size: 120px;
    }
    #bottles h2:after {
        top: -65px;
        right: -50px;
    }
    #bottles h2:before {
        bottom: -190px;
        left: -68px;
    }
    .arm-row .arm {
        max-width: 270px;
        bottom: 20px;
    }
    .arm-row .arm.right {
        right: -90px;
    }
    .arm-row .arm.left {
        left: -90px;
    }
    .vivid-flex-row {
        grid-template-columns: 1fr .75fr;
        gap: 40px;
    }
    .list-heading {
        font-size: 24px;
        margin: 20px 0 10px;
    }
}
@media screen  and (max-width:1024px) {
    .primary-heading {
        font-size: 60px;
    }
    .bottles-section .primary-heading {
        font-size: 100px;
    }
    .arm-row .arm {
        max-width: 210px;
        bottom: 30px;
    }
    .arm-row .arm.left {
        left: -50px;
    }
    .arm-row .arm.right {
        right: -50px;
    }
    #bottles h2:before {
        width: 220px;
        height: 230px;
        bottom: -141px;
        left: -51px;
    }
    #bottles h2:after {
        width: 150px;
        height: 144px;
        top: -69px;
        right: -26px;
    }
    nav {
        max-width: 330px;
        width: 100%;
    }
    .pre-header {
        font-size: 24px;
    }
    .secondry-heading {
        font-size: 44px;
    }
    .secondry-heading .heading-black {
        font-size: 58px;
    }
    .want-list {
        margin: 10px 0 20px 22px;
    }
    .list-heading {
        font-size: 19px;
    }
    .default-text {
        font-size: 16px;
    }
    .dilivery-row .primary-btn {
        margin-top: 20px;
    }
    .vivid-splash {
        padding: 75px 0;
    }
    section {
        padding: 75px 0;
    }
    .hero-section {
        padding: 149px 0 75px;
    }
    .pre-header {
        font-size: 18px;
    }
}
@media screen and (max-width: 768px) {
    nav {
        position: fixed;
        top: 94px;
        right: -100%;
        width: 100%;
        min-height: calc(100vh - 95px);
        background: #0001FF;
        text-align: left;
        transition: all 0.5s;
        max-width: 100%;
    }
    .header-nav.top nav {
        top: 59px;
        min-height: calc(100vh - 60px);
    }
    nav ul {
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        width: 100%;
        gap: 0;
    }
    nav ul li{
        display: block;
        width: 100%;
    }
    nav ul li a {
        padding: 10px 20px;
        border-bottom: 1px solid #fff;
        display: block;
        width: 100%;
        text-align: center;
        background: transparent;
        transition: all 0,5s ease-in-out;
    }
    nav ul li a:hover {
        border-bottom: 1px solid #000000;
        background: #f7f7f7;
    }
    .toggle-btn {
        position: relative;
        width: 31px;
        height: 3px;
        background: #0001FF;
        flex-shrink: 0;
        display: block;
    }
    .toggle-btn::before,
    .toggle-btn::after {
        position: absolute;
        content: "";
        height: 3px;
        display: block;
        background: #0001FF;
        left: 0;
        right: 0;
        transition: all 0.3s;
    }
    .toggle-btn::before {
        bottom: 8px;
    }
    .toggle-btn::after {
        top: 8px;
    }
    .toggle-open {
        background: transparent;
    }
    .toggle-open::before,
    .toggle-open::after {
        content: "";
        background: #0001FF;
        display: block;
        position: absolute;
        top: -4px;
        transition: all 0.3s;
    }
    .toggle-open::before {
        transform: rotate(-45deg);
    }
    .toggle-open::after {
        transform: rotate(45deg);
    }
    .nav-show {
        right: 0;
        transition: all 0.5s;
    }    
    .nav-link-item {
        color: #fff;
    }
    .nav-link-item.d-mb{
        display: block;
    }
    .bottles-section .primary-heading {
        font-size: 60px;
    }
    #bottles h2:before {
        width: 54px;
        height: 91px;
        bottom: -43px;
        left: -6px;
    }
    #bottles h2:after {
        width: 50px;
        height: 83px;
        top: -48px;
        right: -11px;
    }
    .glases-wrapper {
        margin: -80px auto -90px;
        max-width: 200px;
    }
    .vivid-flex-row {
        grid-template-columns: 1fr;
        gap: 0px;
        text-align: center;
    }
    .dilivery-row .primary-heading {
        text-align: center;
    }
    .vivid-splash {
        padding: 50px 0;
    }
    section {
        padding: 50px 0;
    }
    .hero-section {
        padding: 110px 0 50px;
    }
    .primary-heading {
        font-size: 32px;
    }
    .arm-row .arm {
        max-width: 80px;
        bottom: 80px;
    }
    .arm-row .arm.left {
        left: -20px;
    }
    .arm-row .arm.right {
        right: -20px;
    }
    .number-block span, .number-block a {
        font-size: 14px;
    }
    .primary-btn, .header-btn {
        font-size: 14px;
    }
    .hero-body {
        margin: 20px 0 30px;
    }
    .top-bar {
        padding: 10px 0;
    }
    .header-btn {
        display: none;
    }
    footer {
        padding: 40px 0;
    }
    .footer-top {
        padding-bottom: 40px;
    }
    .secondry-heading {
        font-size: 35px;
    }
    .secondry-heading .heading-black {
        font-size: 44px;
    }
    .header-post {
        margin: 10px 0;
    }
    .want-list-item {
        margin-bottom: 10px;
        list-style-type: none;
    }
    .header-nav {
        top: 40px;
    }
    .cta-icon {
        width: 20px;
        height: 20px;
    }
}